.main-chat{
    background: #212121;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}
.main-chat .title{
    position:absolute;
    top:0;
    left:2%;
}
.main-chat .title h2 a{
    color:white;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}
.chat-container{
    background: rgb(19, 19, 19);
    height:100vh;
    width:40%;
    position:relative;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
}
.all-messages{
    height:80%;
}
.input-box{
    position:absolute;
    bottom:0.5%;
    width:100%;
    text-align: center;
    height:10%;
    background:black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 2%;
    box-sizing: border-box;
}
.input-box input{
    width:75%;
    height:2rem;
    border-radius: 15px;
    border:none;
    outline:none;
    padding:0 10px;
    background:#212121;
    color:white;
}
.input-box button{
    border:none;
    outline:none;
    border-radius: 50%;
    padding:0.45rem;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#179BF3;
}
.top-container{
    height:10%;
    background:black;
    display:flex;
    align-items: center;
    justify-content: left;
    padding:0% 5%;
}
.top-container div h3, .top-container p{
    color:white;
    margin:0;
    padding:0;
}
.top-container p{
    font-size:0.5rem;
}
.tiny-img{
    height:2rem;
    width:2rem;
    margin-right:3%;
}
.users{
    display:flex;
}
.input-box .photo-btn{
    background:none !important;
    color:#179BF3 !important;
    font-size:2rem;
    width:5%;
}
.send{
    display:flex;
    justify-content: center;
    align-items: center;
    width:10%;

}
/* .scroll {
    overflow-y: scroll;
    height: 120px;
    width: 300px;
    margin: 10px 5px; padding: 5px;
    text-align: justify;
} */
::-webkit-scrollbar {
    width:5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}
::-webkit-scrollbar-thumb {
    border-radius:5px;
    -webkit-box-shadow: inset 0 0 6px grey;
    box-shadow: inset 0 0 6px grey; 
}


